<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Competencia</title>
    <link rel="stylesheet" href="/css/style-edit.css">
</head>
<body>

<header>
    <div class="navbar">
        <span>¡Bienvenido, <%=user.username%> ! | </span>
        <span>Árbol de habilidades:</span>

        <a href="/skills">Electronics</a>
        <span> | </span>
        <a href="/leaderboard">Clasificación</a>
        <span> | </span>
        <a href="/about">Acerca de</a>
        <span> | </span>
        <a href="/users/logout">Cerrar sesión</a>
        <span> | </span>
        <% if (user.isAdmin) { %>
            <div class="dropdown">
                <a href="#" id="admin-link">Panel de administración</a>
                <div class="dropdown-menu" id="admin-menu">
                    <a href="/admin/manage-badges">Manage Badges</a>
                    <a href="/admin/users">Manage Users</a>
                </div>
            </div>
        <% } %>
    </div>
</header>

<main class="edit-skill-container">
    <h1>Editar Competencia: <span id="skill-title"><%= skill.text %></span></h1>
    <h2>ELECTRÓNICA (<%= skill.set || 0 %> habilidades)</h2>
    <form id="edit-skill-form" method="POST" action="/skills/electronics/edit/<%= skill.id %>">
    <div class="form-group">
            <label>Icono de la habilidad:</label>
            <div id="skill-icon-container">
                <% if (skill.icon) { %>
                    <svg width="150" height="150" viewBox="0 0 200 200">
                        <polygon id="hexagon-<%= skill.id %>" points="100,10 190,55 190,145 100,190 10,145 10,55" class="hexagon" />

                        <image x="25%" y="40%" width="100" height="100" href="/electronics/icons/icon<%= skill.id %>.svg" />
                    </svg>
                <% } else { %>
                    <p>No hay icono disponible</p>
                <% } %>
            </div>
        </div>

        <div class="form-group">
            <label for="skill-text">Título de la habilidad:</label>
            <input type="text" id="skill-text" name="text" placeholder="Título competencia" value="<%= skill.text %>" required>
        </div>
        <div class="form-group">
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" rows="4" placeholder="Descripción de la competencia"><%= skill.description %></textarea>
        </div>
        <div class="form-group">
            <label for="tasks">Tareas a completar (una por línea):</label>
            <textarea id="tasks" name="tasks" rows="3" placeholder="Tareas de la competencia"><%= skill.tasks ? skill.tasks.join('\n') : '' %></textarea>
        </div>
        <div class="form-group">
            <label for="resources">Recursos (uno por línea):</label>
            <textarea id="resources" name="resources" rows="3" placeholder="Recursos de la competencia"><%= skill.resources ? skill.resources.join('\n') : '' %></textarea>
        </div>
        <div class="form-group">
            <label for="skill-score">Puntuación de la habilidad:</label>
            <input type="number" id="score" name="score" min="1" max="100" value="<%= skill.score || 1 %>" required>
        </div>
        <div class="form-group">
            <label for="icon">Subir Icono (30x30 png):</label>
            <input type="file" id="icon" name="icon" accept="image/png">
        </div>
        <div class="buttons">
            <button type="submit" class="btn btn-save">Guardar</button>
            <button type="button" class="btn btn-cancel" onclick="window.location.href='/skills'">Cancelar</button>
            <button type="button" class="btn btn-delete" onclick="window.location.href='/skills/delete/<%= skill.id %>'">Eliminar Habilidad</button>
        </div>
    </form>
</main>
</body>
</html>
